body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px ;
}
h2{
    font-size: 35px;
}
.bg-top {
    background-image: url( images/top-banner.png);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    margin-bottom: 100px;
     

}
.half-width{
    width:  50%;
    padding-left: 2%;

}
.half-width img{
    width: 80%;
}
.link-btn{
    text-decoration: none;
    background-image: linear-gradient(red ,yellow);
    padding: 10px 40px;
    color: white;
    border-radius: 10px;
}
.bg-bottom{
    
    background-image: url(images/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.Experience-part{
    width: 40%;
    margin: 0% 5%;
    padding: 30px ;
    box-shadow: 10px 10px 30px grey;
}
#full-stack-slice{
    border-left: 5px solid;
    border-image:linear-gradient(red ,yellow);
    border-image-slice: 1;

}
#baby-slice{
    border-left: 5px solid;
    border-image:linear-gradient(rgb(0, 204, 255) ,rgb(79, 226, 182));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}